
.nav-link:hover  {
    background-color: rgb(80, 133, 182);
    color: white;
}

.nav-link:hover .fa {
    transition: all 1s;
    transform: rotate(360deg);
    font-size: 20px;
}

.nav-link {

    color: white;
}

.activo {
    background-color: rgb(80, 133, 182) !important
}
.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.color-izq{
    background-color: rgb(164, 215, 250);
}

.perfil{
    background-image: url("../img/nubes.gif");
    background-size: cover;
    background-position: center;
}